* {
  font-family: "Roboto";
  margin: 0;
}

header {
  background-color: #ffffff;
  display: flex;
  flex-flow: wrap;
  margin: auto;
  width: 600px;
}

.main-top {
  background-color: #7695ec;
  color: #ffffff;
  padding: 12px;
  width: 100%;
}