.create {
  border: 1px solid #dddddd;
  border-radius: 8px;
  display: flex;
  flex-flow: wrap;
  margin: 15px;
  padding: 12px;
  justify-content: flex-end;
}

.input {
  margin-left: 20px;
  margin-right: 20px;
}

.main-label {
  font-size: 15px;
}

.main-input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 510px;
}

.textarea {
  height: 50px;
  resize: none;
}

.main-input::placeholder {
  color: #cccccc;
  font-size: small;
}

.main-button-create {
  background-color: #7695ec;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 20px;
  margin-top: 16px;
  margin-right: 12px;
  margin-bottom: 10px;
}

.main-button-create:disabled {
  background-color: #cccccc;
}